@media (min-width: 550px) {
    html{
        font-size: 25px;
    }
   footer{
    font-size: 10px;
   }
    #head{
        height: 60px;
    }
    #container{
        min-width: 300px;
        max-width: 1000px;
    }
}
@media (max-width:550px) {
    
    html{
        font-size: 15px;
    }
    #head{
        height: 40px;
    }
    #container{
        min-width: 150px;
        max-width: 500px;
    }
    footer{
        font-size: 5px;
       }
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    
}
li{
    margin: 0 20px;
}
a{
    color: #F4F2DE;
    text-decoration: none;
    
}
html{
background-color: #A1CCD1;
font-family: 'Borel', 'Caveat',sans-serif;
}

#head{
    background-color: #E9B384;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:  #F4F2DE;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding-top: 5px;
}
#body{
    background-color: #F4F2DE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 100px;
    padding: 5px;
}

form{
    display: flex;
    justify-content:space-around;
    
}
input[type="submit"]{
    border-radius: 5px;
    background-color: #E9B384;
    font-weight: bold;
    min-height: 40px;
    min-width: 40px;
    border-style:none;
    color:#F4F2DE ;
}
#upperContainer{
    display: flex;
    justify-content: center;
}
#container{
    box-shadow: 3px 3px #7C9D96;
    border-radius: 5px;
}
input{
    background-color: #F4F2DE;
    
}
input[type=checkbox]:checked + label {
    text-decoration: line-through;
}
input[type=text]{
    border-color: #E9B384;
    border-style:solid;
    border-radius: 5px;
    margin-right: 10px;
}
.newInput{
    color: #7C9D96;
}
footer{
    
    color: #F4F2DE;
}
.navContainer{
    display: flex;
    justify-content: space-between;
}